<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Pompeii</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Human Environmental Interactions</h1>
    <div class="float-container">
        <div class="float-child">
            <p>
                The excavation of the Thermapoluim of Regio V is a beautiful piece of history that was
frozen in time. The find explains more of the ruins of Pompeii and allows us to understand this
ancient time period better. It advances our understanding of human environment interactions by
teaching us what kinds of plants and animals the city dealt with. Based off of the recovered
artifacts we can see how advanced the civilization was and how technologically advanced they
were. Additionally, certain findings like containers for wine filled with beans in order to modify
the taste of the wine give us clues as to how the civilization most likely had a strong agricultural
presence. This can also be supported with the distinction of whether or not the animal bones
found within the establishment are domestic animals or wild. Domestic animals are bred by
humans to serve a purpose and may be reflected within the animal’s DNA or morphology. By
understanding the types of food served we can see how the people of Pompeii interacted with the
landscape. The agricultural scene was most likely prosperous considering that Pompeii has fertile
soil and is wedged between two rivers. The environment is a perfect moderate climate with
sunny skies and as a result made the Pompeiians financially prosperous (Gonzalez, 2005).
            </p>

        </div>
          
        <div class="float-child">
            <img src="/images/pompeii.jpeg" width=”500″ height=”600″>
        </div>
    </div>
    
    {% endblock %}
    
</body>
</html>