<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Pompeii</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Homepage!</h1>
    <div class="float-container">
        <p><h5>Purpose:</h5> Explore recent archaeological studies into human-environment interactions! What can we learn from past populations? The goal of this assignment is for you to identify, critique, and interpret a recent study in order to a) develop a deeper understanding of human-environmental interactions; b) apply the concepts and methods of the course to a new discovery; c) distill potential lessons for our current climate crisis.</p>
        <p><h5>Assignment:</h5> The purpose of the assignment is not simply to summarize a new discovery, but to evaluate the archaeological merit of the find and to evaluate critically the purpose, arguments, and methods of analysis. Therefore, the bulk of your review will be an evaluation of whether the argument was convincing and your commentary on the contribution to our understanding of important issues in human-environmental interactions.</p>
    </div>

    {% endblock %}
</body>
</html>