<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Pompeii</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>New Discovery: Thermapolium of Regio V.</h1>
    <div class="float-container">
        <div class="float-child">
            <p>
                One discovery, found on August 12th in 2019, was called the Thermapolium of Regio V.
A thermapolium is a Greek word for cook-shop and was a commercial establishment used to sell
hot food. Within Pompeii, the rich were usually the ones who feasted in establishments while the
poor would have kitchens and home cooked meals. However, typical thermapoliums were filled
with middle and lower class citizens (PompeiiSites.org, 2020). These establishments were
compared to modern day fast food restaurants as it was customary for the lower class to take
their meals to eat outside their homes and was often looked down on by the upper class. The
Thermapolium of Regio V was well preserved, passionately decorated and extremely informative
of daily life within that time. When unearthed in 2019 the site was left with colorful still lifes,
food residues and victims of the eruption (PompeiiSites.org, 2020). The site was filled with jars
and containers embedded in the masonry countertop. Different pantry items, terracotta fragments, nine amphorae (a taller jar with two handles and a narrow neck), a bronze patera (a
shallow dish for pouring drinks), two flaks, and a common ceramic table olla (a ceramic jar for
making stews) (PompeiiSites.org, 2020). Inside these containers were food remnants of duck,
pigs, goats, fish, rodents, land snails and more (Lazaro, 2020). The variety of food served within
the thermapolium was diverse and gives insight into the culture and food of this ancient time. In
addition to animal bones, human remains were also unfortunately found. The remains are
thought to be civilians hiding from the ash clouds or illegal looters searching for precious
objects. Perhaps the most interesting aspect of the Thermapolium of Regio V is the exquisite
artwork painted on the counters of the restaurant. The commercial complex is made up of images
of the animals that were likely butchered and served. Animals such as two upsides down mallard
ducks and roosters. There’s pictures of a Nereid riding sea horses and even an illustration of a
dog that mocks the owner of the restaurant (Lazaro, 2020)
            </p>
            <p>
                The city of Pompeii was covered in ash and showered with volcanic debris from Mount
Vesuvius. The buildings of the city were preserved for centuries in perfect condition and allow
archaeological gems like the Thermapolium of Regio V to maintain its beautiful art work. In the
late 16th century, the architect, Domenico Fontana found some buildings within the area but
excavations didn’t begin until 1748 (History.com, 2010). The site was excavated like normal dig
sites with thin layers of soil. To help with the archaeological studies and statistical analysis, the
use of computers has been used. With IBM Italy’s comprehensive computerization of Pompeii,
the city has been mapped and three dimensionally modelled. The whole Sarno River Valley, the
area in that encapsulates Pompeii, was logged and could display data such as the distribution of
building types. For example, public buildings, bath houses, commercial buildings, brothels, and
religious architecture (Bruschini, 1991). Understanding the distribution of these buildings shed gives us insight on how the people of Pompeii structured their cities and which areas they valued
more. Additionally, it provides us with a better interpretation of social, political and economic
scene of this ancient city.
            </p>
            
        </div>
          
        <div class="float-child">
            <img src="/images/pompeii.jpeg" width=”500″ height=”600″>
        </div>
    </div>
    {% endblock %}
   
</body>
</html>